# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
virtual_env/
.env

# Django
media/archivo/*
!media/archivo/.gitkeep
staticfiles/
debug.log

# Archivos estáticos generados
/static/

# IDE/Editores
.vscode/
.idea/
